body {
/*  font: 16px/160% 'Open Sans', Arial, sans-serif;*/
  font-family: 'Open Sans';
}

header {
  background: #fff;
}

header div {
  padding: 0;
}

header h1 {
  background: url(images/logo.jpg) center center no-repeat;
  background-size: 280px;
  height: 120px;
  text-indent: -99999em;
}

header div nav a:hover,
header div nav a:active {
  color: #556bef;
}

.wrapper {
  padding-top: 120px;
}

#whatwedo div p {
  content: none;
}

#insights {
  background: url(images/noisy-texture.png) repeat;
}
#insights section {
  display: inline-block;
  margin: 30px 20px;
  position: relative;
}

#insights section h3 {
  text-align: left;
  text-shadow: 0 1px 0 rgba(255,255,255,.1);
}

#insights section p {
 width: 200px;
 height: auto;
 overflow: hidden;
 float: left;
 margin: 0 10px 0 0;
}

#insights section p img {
  width: 150px;
}

#insights section div#description {
  display: block;
  background: rgba(0,0,0,.05);
  overflow: hidden;
  white-space: normal;
  padding: 0 10px;
  border-radius: 3px;
}

#insights section div#description p {
  margin: 0;
  margin-top: 10px;
  width: 800px;
  height: auto;
  text-align: left;
}

#insights section div#description a {
  color: #556bef;
  text-decoration: none;
}

#insights section div#description a:hover {
  color: #000;
  text-decoration: underline;
}

#insights section div#description ul {
  margin-left: 10px;
}

#insights section div#description li {
  list-style: circle;
  padding: 3px 0;
}

#insights section div#description li p{
  margin-top: 0;
}

#whoweare p {
  text-align: left;
}

#footer{
  font-family: 'Open Sans';
  text-transform: uppercase;
}

#footer #email {
  text-transform: lowercase;
}