<div class='container'>
  <p class='contact icon-alone' id='email'>
    <span aria-hidden='true' data-icon='e'></span>
    <span class='screen-reader-text'><a href='mailto:aimee.sohn@gmail.com'>gena@jin-entertainment.com</a></span>
  </p>
  <ul>
    <li>
      <a href='' class='icon-alone' id='linkedin'>
        <span aria-hidden='true' data-icon='l'></span>
        <span class='screen-reader-text'>Linkedin</span>
      </a>
    </li>
    <li>
      <a href='http://www.weibo.com/u/1819778384?wvr=5&' target='_blank' class='icon-alone' id='weibo'>
        <span aria-hidden='true' data-icon='w'></span>
        <span class='screen-reader-text'>Weibo</span>
      </a>
    </li>
    <li>
      <a href='http://www.facebook.com/xin.jin.988?ref=tn_tnmn' target='_blank' class='icon-alone' id='facebook'>
        <span aria-hidden='true' data-icon='f'></span>
        <span class='screen-reader-text'>Facebook</span>
      </a>
    </li>
    <li>
      <a href='http://pinterest.com/yirza/boards/' target='_blank' class='icon-alone' id='pinterest'>
        <span aria-hidden='true' data-icon='p'></span>
        <span class='screen-reader-text'>Pinterest</span>
      </a>
    </li>
  </ul>
  <p id='copyright'>&copy;copyright 2013 JIN Entertainment Management Limited. All rights reserved.</p>
</div>
