<div class='container'>
  <p class='contact icon-alone' id='email'>
    <span aria-hidden='true' data-icon='e'></span>
    <span class='screen-reader-text'><a href='mailto:aimee.sohn@gmail.com'>gena@jin-entertainment.com</a></span>
  </p>
  <ul>
    <li>
      <a href='' class='icon-alone' id='google'>
        <span aria-hidden='true' data-icon='g'></span>
        <span class='screen-reader-text'>Linkedin</span>
      </a>
    </li>
    <li>
      <a href='' class='icon-alone' id='weibo'>
        <span aria-hidden='true' data-icon='w'></span>
        <span class='screen-reader-text'>Weibo</span>
      </a>
    </li>
    <li>
      <a href='' class='icon-alone' id='twitter'>
        <span aria-hidden='true' data-icon='t'></span>
        <span class='screen-reader-text'>Twitter</span>
      </a>
    </li>
    <li>
      <a href='' class='icon-alone' id='facebook'>
        <span aria-hidden='true' data-icon='f'></span>
        <span class='screen-reader-text'>Facebook</span>
      </a>
    </li>
  </ul>
  <p id='copyright'>&copy;copyright 2013 JIN Entertainment Management Limited. All rights reserved.</p>
</div>
