---
layout: default
---
<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='chrome=1'>
    <meta name='description' content='JIN-entertainment'>
    <meta name='author' content='Aimee'>
    
    <title>JIN-entertainment | Targeted Celebrity Marketing</title>
	
    <!-- stylesheet -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel='stylesheet' href='assets.css' type='text/css'>
    <link rel='stylesheet' href='font.css' type='text/css'>
    <link rel='stylesheet' href='style.css' type='text/css'>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
</head>
<body>
  <header id='header'>
    <div>
      {% include header.html %}
    </div>
  </header>

  {{ content }}
  
  <footer id='footer'>
    {% include footer.html %}
  </footer>

  <script type='text/javascript' src='js/jquery.min.js'></script>
  <script type='text/javascript' src='js/swipe.js'></script>
  <script>
    $(window).scroll(function(){ 
        if ($(window).scrollTop() > 180) {
            $('#header').addClass('fixed');
        } else {
            $('#header').removeClass('fixed');
        }
    });
  
    $('#projects .project').hide();
    $('#projects .project:first').show();
    
    window.mySwipe = new Swipe(document.getElementById('slider'), {
        speed: 400,
        auto: 3000,
        continuous: true,
        disableScroll: false,
        stopPropagation: true,
        callback: function(pos, index, elem) {
	
            // Add the effect to slide the project description
            var description = $('#projects .project:first');
            description.hide();
            description.next().fadeIn('slow');
            $('#projects').append(description);
        }
    });

</script>
</body>
</html>